
/*Attempt at a background image*/
body {
    background-image: url("./images/aaronRodgers.gif");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100% 200%;
}

/*Title Box*/
.LandingPageBox {
    height: 200%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Actual title lettering*/
.titleBox {
    height: 40rem;
    display: flex;
    font-size: 175px;
    color: darkgray;
    text-shadow: 2px 2px lightgray;
    align-items: center;
}