
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.2s ease-in;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: "Times New Roman", sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}
nav {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top:0;
    bottom: 0;
    z-index: 1;
}

h2 {
    color: var(--primary-color);
}
.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-weight: var(--bold-font);
}

.mobile-view {
    display: none;
}

.bar {

}

.frontpageheader {
    display: flex;
    height: 100px;
    width: 100%;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.subheader {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: left;
    align-items: center;
    background-color: #ea2027;
}
.walloffame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 10%;
    padding: 10px;
}
.walloffameitem {
    color: var(--primary-color);
}
.wallofshameitem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: var(--primary-color);
}
.wallofshamepicturecontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    width: 100%;
    background-color: yellowgreen;
    padding: 10px;
}
.wallofshamepicture {
    border: 5px solid brown;
}
.picture {
    height: 150px;
    width: 200px;
}
.careerearnings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 10%;
    padding: 10px;
}
.careerearningsitem {
    color: var(--primary-color);
}

